#chat_whole {
  width:390px;
}

#chat_header {
  display:flex;
  justify-content: center;
  align-items:start;
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  margin-top:60px;
}

#chat-time{
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
}
#chats {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding-top:30px;
  padding-bottom: 60px;
}

#chat {
  padding-top:20px;
  padding-bottom:20px;
  width:350px;
  margin-bottom:10px;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  text-align:center;
}

#invitee{
  margin-top:20px;
  margin-bottom:20px;
  font-size:30px;
  font-family:'Nunito Sans', sans-serif;
}

#buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.button_requests{
  background-color: #B1CCCC ;
  border-radius: 20px;
  border-color: #B1CCCC;
}
