// Specific CSS for your home-page
@font-face {
  font-family: 'Soria';
  src: asset-url('fonts/soria-font.ttf')
}

#homepage_whole{
  text-align: center;
  height: 750px;
  background-image: url("BACKGROUND.png");
  background-image: cover;
  padding-top:50px;
}

#chat_button2{
  background-color: #c0dec2;
  color: #253131;
  font-size: 17px;
  border-radius: 35px;
  border-color:#B1CCCC;
  margin-bottom: 40px;
  margin-top: 100px;
  box-shadow: 5px 5px 5px rgb(91, 91, 91);
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom:15px;
  font-weight:bold;
}

#mindful-header{
  font-family: 'Soria';
  padding-top: 20px;
  padding-bottom: 10px;
  color:#2b3f38;
  font-size: 60px;

}
#mindful-subheader{
  font-family: "Soria";
  margin-bottom:70px;
  font-size: 20px;
}

#quote{
  text-align: center;
  padding-left:30px;
  padding-right:30px;
  font-family:'Libre Baskerville', serif;
  margin-bottom: 50px;
}


#philosopher{
  text-align: center;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px ;
  font-family:'Libre Baskerville', serif;
  font-weight:bold;
}

#logo{
 width: 100px;
 height: 40px;
 background-image: url("LOGO2.png");
 background-size:contain;
 background-repeat: no-repeat;
 margin-left:10%;
}
