#carouselExample {
  background-color: #B1CCCC;
}
.profile-center{
  text-align: center;
  margin:2rem;
  padding-top: 20px;
  border-radius: 20px;
}

.carousel-item img {
  object-fit: cover;
  border-radius:20px;
}
.profile-center-details{
  text-align: center;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.466);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.grey-background {
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;

}

#profile_info{
  padding: 10px;
}

.profile-center-details h3 {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

#profile-backround{
  background-color: rgba(245, 245, 245, 0.466);
  text-align: center;
}

#text_profile{
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.466);

  font-size: 20px;
  font-weight: bold;
}

.img-rounded{
  border-radius: 12px;
}

.profile-1{
  color: #2b3f38;
  background-color: rgba(245, 245, 245, 0.466);
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10%;
  margin-top:10%;
  div {
    display: flex;
  }
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  font-size:30px;
}

.profile-2{
padding: 20px;
width: 100%;
font-family:'Nunito Sans', sans-serif;
margin-bottom:100px ;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.profile-2 h3 {
  padding: 10px;
  font-size: 16px;
  font-family:'Nunito Sans', sans-serif;
}


.whitesmoke-background{
  background-color: rgba(245, 245, 245, 0.466);
  padding: 4px;
  font-size: 16px;
  width: 60vw;
  border-radius: 8px;
}

.fake_button {
  background-color: #B1CCCC;
  font-family:'Nunito Sans', sans-serif;
  border: 10px whitesmoke;
}
