#carouselExample {
  background-color: #B1CCCC;
}
.profile-center{
  text-align: center;
}

.profile-center-details{
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 12px;

}

.grey-background {
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;

}

.profile-center-details h3 {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

#profile-backround{
  background-color: #B1CCCC;
  text-align: center;
}

#text_profile{
  color: #6a8e8e;
  font-size: 20px;
  font-weight: bold;
}

.img-rounded{
  border-radius: 12px;
}

.profile-1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10%;
  margin-top:10%;
  div {
    display: flex;
  }
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  font-size:30px;
}

.profile-2{
width: 100%;
font-family:'Nunito Sans', sans-serif;
}

.profile-2 h3 {
  font-size: 16px;
  font-family:'Nunito Sans', sans-serif;
}


.whitesmoke-background{
  background-color: whitesmoke;
  padding: 4px;
  font-size: 16px;
  width: 60vw;
  border-radius: 8px;
}
