<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container" id="chat_whole">
<h1 id="chat_header">Conversations of Future Past</h1>
  <div id="chats">
    <% @chat_sessions.each do |chat| %>
    <div id="chat">
      <h4><%= chat.created_at.strftime("%B %d, %Y") %></h4>
      <% chat.invitations.each do |invitation| %>
      <%= invitation.invitee.name %>
      <div id="buttons">
        <span class="material-symbols-outlined">
          thumb_up
        </span>
        <span class="material-symbols-outlined">
          thumb_down
        </span>
        <div data-controller="toggle" class="mt-5;">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary" id="btn">
            <span class="material-symbols-outlined">
              flag
            </span>
          </button>
          <div data-toggle-target="togglableElement" class="d-none">
          <%= render "form", feedback: @feedback %>
          </div>
        </div>

      </div>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
