<div class="main-container-mindful">
  <center><div id="logo"></div></center>
  <h1 class="title">a mindful. conversation.</h1>
  <div class="users_list">
    <div class="d-flex-column ">
      <% if @invitations.all?(&:accepted?) %>
      <div id="session_button">
        <%= link_to "Start a Mindful Meet.", room_path(@chat_session.room_id) %>
      </div>
      <% end %>
      <% @invitations.each do |invitation| %>
        <div class=" users d-flex align-items-center border border-secondary-subtle ">
          <p id="mindful-pfp"><%= cl_image_tag invitation.invitee.photo.key, class: "img_rounded"%></p>
          <h1 id="mindful-user"class="p-3 flex-fill"><%= invitation.invitee.name  %></h1>
          <% if invitation.pending? %>
            <h5 class="p-1">Pending</h5>
          <% else %>
            <h5 class="p-1 ">Accepted</h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="update_button">
    <%= button_to "Update", chat_session_path(@chat_session.id), class: "btn btn-primary mt-3" %>
  </div>
</div>
