<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id="footer">
  <span class="material-symbols-outlined" <% link_to "Home" %>>
    home
  </span>
  <span class="material-symbols-outlined">
    diversity_2
  </span>
  <span class="material-symbols-outlined">
    person
  </span>
  <span class="material-symbols-outlined">
    chat
  </span>
</div>
