<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap" rel="stylesheet">
<div class="friendships=whole">
  <div class="col-md-6 mt-5">
    <% if friendships.present? %>
      <% friendships.accepted.each do |friendship| %>
          <div id="friend">
          <%= cl_image_tag friendship.friend.photo.key, class: "img_rounded"%>
          <%= friendship.user.name%>
          </div>
        <% end %>
  </div>
    <% else %>
      <h4 id='loneliness'>Build your social network!</h4>
    <% end %>
  </div>
</div>
