<div class="row">
  <div class="col-md-6 mt-5">
    <% if !@pending_received_requests.empty? %>
      <div class="card m-5">
        <div class="card-body">
            <% @pending_sent_requests.each do |friendship| %>
              <ul>
                <li><%= friendship.friend.name unless friendship.status == "declined" %></li>
              </ul>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
