<div class="row">
  <div class="col-md-6 mt-5">
    <%= link_to "Back to your Friends", friendships_path, class: "d-flex justify-content-center btn btn-outline-primary btn-sm"%>
      <div class="card m-5">
        <div class="card-header">
          <h1>Friend Requests ⌛️</h1>
        </div>
        <div class="card-body">
            <% @pending_sent_requests.each do |friendship| %>
              <ul>
                <li><%= friendship.friend.name unless friendship.status == "declined" %></li>
              </ul>
            <% end %>
        </div>
      </div>
  </div>
</div>
