<h1>current_user.mail</h1>
<%# <% if current_user.following?(@user) %>
  <%# <%= button_to "Dislike", unfollow_path(@user) %>
<%# <% elsif current_user.sent_follow_request_to?(@user)%>
  <%# <%= button_to "Cancel like request", cancel_path(@user) %>
<%# <% else %>
  <%# <%= button_to "Like", follow_path(@user) %>
<%# <% end %>


