<div id = "homepage_whole">

  <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Tilt+Warp&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Libre+Baskerville:ital@1&family=Tilt+Warp&display=swap" rel="stylesheet">

  <center><div id="logo"></div></center>

  <h1 id="mindful-header">mindful meets.</h1>

  <h6 id="mindful-subheader"> Connect with like-minded people<h6>

  <p id="quote"> This is the quote of the day. It’s profoundly deep and impressively verbose. Be changed, body and soul. </p>

  <p id="philosopher"> ~ Palatable Philosopher </p>

  <% my_invitation = Invitation.find_by(invitee: current_user) %>

  <% if my_invitation.present? && my_invitation.status == "accepted" && ChatSession.find_by(id: my_invitation.chat_session_id).status == "pending" %>

    <%= link_to "Let s get back to chat", chat_session_path(ChatSession.find_by(id: my_invitation.chat_session_id).id), class: "btn btn-primary", id:"chat_button2" %>

  <% else %>
    
    <%= button_to "Let the universe decide", chat_sessions_path, class: "btn btn-primary", id:"chat_button2" %>
  <% end %>

</div>
