<div class="container" id="invitations_whole">
  <h1 id="invitation_header">My Invitations</h1>

<h1>My Invitations</h1>
  <div id="invitations">
    <% @my_invitations.each do |invitation| %>
    <div id="invitation">
      <h4><%= invitation.name %></h4>
      <div id="accept">
        <%= link_to "Accept", accept_chat_session_invitation_path(invitation.chat_session_id, invitation.id), data:{turbo_method: :patch} %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
