<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Tilt+Warp&display=swap" rel="stylesheet">
<div class="container" id="invitations_whole">
  <h1 id="invitation_header">My Invitations</h1>

  <div id="invitations">
    <% @my_invitations.each do |invitation| %>
    <div id="invitation">
      <h4><%= invitation.id  %></h4>
      <div id="accept">
        <%= link_to "Accept", accept_chat_session_invitation_path(invitation.chat_session_id, invitation.id), data:{turbo_method: :patch} %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
