<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Tilt+Warp&display=swap" rel="stylesheet">

<h1>My Invitations</h1>

<% @my_invitations.each do |invitation| %>
  <h4><%= invitation.id  %></h4>

  <%= link_to "Accept", accept_chat_session_invitation_path(invitation.chat_session_id, invitation.id), data:{turbo_method: :patch} %>
<% end %>

<%= render "shared/footer" %>
