<div id="videos"
 data-controller="vonage"
data-vonage-api-key="47771161"
data-vonage-session-id="<%= @room.vonage_session_id %>"
data-vonage-token="<%= @token %>"
data-vonage-name="<%= current_user.name %>">
</div>
