#footer{
  display:flex;
  justify-content: space-evenly;
  background-color: #F8F6F4;
  margin-left:30px;
  margin-right:30px;
  margin-bottom: 20px;
  padding-top:10px;
  padding-bottom:10px;
  align-self: flex-end;
  border-radius:20px;
}

.footer-box {
  position: relative;
  bottom: 20px;
}
