#friendship-notification {
  position: absolute;
  background-color: red;
  top: 4px;
  left: 52%;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  color: white;
  font-size: 12px;
  text-align: center;
}
