// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/mindful_meet";


body {
  background-color:#B1CCCC;
  // justify-content: space-between;
  // display: flex;
  // flex-direction: column;
}

main {
  flex-grow: 1;
  min-height: 100vh;
  overflow-y: auto; /* Add scrollbar if content overflows */
}

#videos {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
}

.OT_root {
  height: 240px !important;
}

#end_chat {
  padding: 40px;
  text-align: center;
}
